<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource name="jdbc/mysql"
	auth="Container"
	type="javax.sql.DataSource"
	username="root"
	password="qwer1234!@#$"
	maxIdle="30" 
    maxWait="10000" 
    maxActive="100"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/edu?serverTimezone=GMT"
    logAbandoned="true" />
</Context>